.footer-title {
  color: #fdf7e8;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
  font-family: 'TTCommons';
}
.footer-paragraph {
  color: #fdf7e8;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  font-family: 'TTCommons';
}
.footer-text {
  color: #fdf7e8;
  font-size: 18px;
  line-height: 24px;
  font-family: 'TTCommons';
}
