.section2-wrapper {
  padding: 70px 80px 10px 102px;
}

.quality-section2-img {
  padding-bottom: 70px;
}
.quality-section2-img-wrapper {
  padding-left: 29.5px;
  padding-bottom: 30px;
  background: linear-gradient(transparent 0, transparent 0, transparent 100%, transparent 0) no-repeat,
    linear-gradient(to right, #ba9578 189px, transparent 0, transparent 100%, transparent 0) no-repeat,
    linear-gradient(to bottom, transparent 0, transparent 0, transparent calc(100% - 189px), #ba9578 0) no-repeat,
    linear-gradient(to bottom, transparent 0, transparent 0, transparent 100%, transparent 0) no-repeat;
  background-position-x: 0, 0, 0, 100%;
  background-position-y: 0, 100%, 0, 0;
  background-size: 100% 1px, 100% 1px, 1px 100%, 1px 100%;
}
.quality-section2-img-wrapper img {
  max-width: 799px;
}

.quality-section2-title {
  font-size: 56px;
  line-height: 66px;
  color: #091513;
  padding-right: 50px;
  margin-bottom: 36px;
  font-family: 'Reckless TRIAL';
  font-style: normal;
  font-weight: normal;
}
.quality-section2-paragraph {
  font-size: 24px;
  line-height: 35px;
  color: #707372;
  font-family: 'TTCommons';
  font-style: normal;
  font-weight: normal;
}
.quality-section2-text {
  padding-right: 130px;
  padding-left: 64px;
}
.quality-section2-text-mob {
  background: #f9f4f0;
  padding: 40px 32px 54px;
}
.quality-section2-title-mob {
  font-size: 23px;
  line-height: 28px;
  color: #091513;
  margin-bottom: 32px;
  font-family: 'Reckless TRIAL';
  font-style: normal;
  font-weight: normal;
}
.quality-section2-paragraph-mob {
  font-size: 20px;
  line-height: 28px;
  color: #707372;
  font-family: 'TTCommons';
  font-style: normal;
  font-weight: normal;
}
@media screen and (max-width: 1700px) and (min-width: 1601px) {
  .section2-wrapper {
    padding: 60px 60px 10px 82px;
  }

  .quality-section2-img {
    padding-bottom: 50px;
  }
  .quality-section2-text {
    padding-right: 80px;
    padding-left: 54px;
  }
  .quality-section2-title {
    font-size: 50px;
    line-height: 60px;
    padding-right: 30px;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 1600px) {
  .section2-wrapper {
    padding: 50px 50px 10px 72px;
  }

  .quality-section2-img {
    padding-bottom: 40px;
  }

  .quality-section2-text {
    padding-right: 20px;
    padding-left: 44px;
  }

  .quality-section2-title {
    font-size: 44px;
    line-height: 54px;
    padding-right: 0;
    margin-bottom: 20px;
  }
}
