.quality-section5-title {
  font-weight: 300;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  color: #e5c5ac;
  padding-left: 26px;
  padding-right: 26px;
  padding-bottom: 60px;
  font-family: 'Reckless TRIAL';
  font-style: normal;
}
.circle {
  display: block;
  width: 8px !important;
  height: 8px !important;
  border: 2px solid #e5c5ac;
  box-sizing: border-box;
  border-radius: 100%;
  margin-right: 21px;
  margin-top: 12.5px;
}
.quality-section5-text {
  display: flex;
}
.quality-section5-paragraph {
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
  font-family: 'TTCommons';
  font-style: normal;
}
.quality-section5-block-mob {
  padding-top: 56px;
  background: #091513;
}
.quality-section5-title-mob {
  font-weight: 500;
  font-size: 22px;
  line-height: 34px;
  text-align: center;
  color: #e5c5ac;
  font-family: 'Reckless TRIAL';
  font-style: normal;
}
.quality-column1 {
  padding-left: 259px;
  padding-right: 80px;
}
.quality-column2 {
  padding-right: 259px;
  padding-left: 80px;
}
.section5-layout-wrapper {
  padding-top: 160px;
  padding-bottom: 160px;
}
@media screen and (max-width: 1700px) and (min-width: 1601px) {
  .quality-column1 {
    padding-left: 219px;
    padding-right: 40px;
  }
  .quality-column2 {
    padding-right: 219px;
    padding-left: 40px;
  }
  .section5-layout-wrapper {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .quality-section5-title {
    padding-bottom: 30px;
    font-size: 36px;
    line-height: 46px;
  }
}
@media screen and (max-width: 1600px) and (min-width: 1441px) {
  .quality-column1 {
    padding-left: 119px;
    padding-right: 30px;
  }
  .quality-column2 {
    padding-right: 119px;
    padding-left: 30px;
  }
  .section5-layout-wrapper {
    padding-top: 90px;
    padding-bottom: 90px;
  }
  .quality-section5-title {
    font-weight: 300;
    font-size: 30px;
    line-height: 40px;
    padding-bottom: 30px;
  }
}
@media screen and (max-width: 1440px) {
  .quality-column1 {
    padding-left: 59px;
    padding-right: 20px;
  }
  .quality-column2 {
    padding-right: 59px;
    padding-left: 20px;
  }
  .section5-layout-wrapper {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .quality-section5-title {
    font-weight: 300;
    font-size: 30px;
    line-height: 40px;
    padding-bottom: 10px;
  }
}
