.quality-section4-wrapper {
  background: #f3ede8;
}

.quality-section4-img {
  position: relative;
  height: 28vw;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
.quality-section4-text-wrapper {
  flex-basis: 80%;
}
.quality-section4-text {
  width: 100%;
  z-index: 5;
  bottom: 0;
  right: 0;
  //background: #f9f4f0;
  padding: 38px;
  display: flex;
  justify-content: space-between;
}

.quality-section4 div:nth-child(even) .quality-section4-text {
  background: #f3ede8;
  left: 0;
}

.quality-section4-title {
  font-weight: 300;
  font-size: 34px;
  line-height: 44px;
  color: #091513;
  font-family: 'Reckless TRIAL';
  font-style: normal;
  margin-bottom: 0px !important;
}

.quality-section4-paragraph {
  font-size: 24px;
  line-height: 1.5;
  color: #364243;
  margin-top: 15px;
  font-family: 'TTCommons';
  font-style: normal;
  font-weight: normal;
}
.quality-section4-text-logo {
  display: block;
  width: 100%;
  flex-basis: 18%;
}
.quality-section4-img-mob {
  position: static;
}

.quality-section4-text-mob {
  height: 100%;
  background: #f9f4f0;
  padding: 14px;
}

.quality-section4-title-mob {
  font-size: 22px;
  line-height: 26px;
  color: #091513;
  font-family: 'Reckless TRIAL';
  font-style: normal;
  font-weight: normal;
}

.quality-section4-paragraph-mob {
  font-size: 13px;
  line-height: 21px;
  color: #364243;
  font-family: 'TTCommons';
  font-style: normal;
  font-weight: normal;
}
.quality-wrapper-mob {
  display: flex;
}

.quality-section4-wrapper-mob {
  height: 100%;
  .quality-section4-img-mob {
    height: 100%;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}

.quality-section4-mob div:nth-child(even) .quality-section4-wrapper-mob {
  order: 1;
}

.quality-section4-text-logo-mob {
  display: block;
  width: 40%;
  margin-top: 16px;
  bottom: 14px;

  @media (min-width: 576px) {
    width: 20%;
  }
}
@media screen and (max-width: 1800px) and (min-width: 1641px) {
  .quality-section4-text-wrapper {
    flex-basis: 80%;
  }
  .quality-section4-text {
    padding: 30px;
  }
}
@media screen and (max-width: 1640px) and (min-width: 1501px) {
  .quality-section4-text-wrapper {
    flex-basis: 80%;
  }
  .quality-section4-text {
    padding: 28px;
  }
}
@media screen and (max-width: 1500px) and (min-width: 1301px) {
  .quality-section4-text-wrapper {
    flex-basis: 81%;
  }
  .quality-section4-text {
    padding: 20px;
  }
  .quality-section4-title {
    font-size: 32px;
    line-height: 36px;
    font-weight: 300;
  }
  .quality-section4-paragraph {
    font-size: 24px;
    margin-top: 16px;
  }
}

@media screen and (max-width: 1300px) {
  .quality-section4-text-wrapper {
    flex-basis: 81%;
  }
  .quality-section4-text {
    padding: 18px;
  }
  .quality-section4-title {
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;
  }
}
