.layout-wrapper {
  height: calc(100vh - 75px);
  margin-top: 75px;
}
.quality-section1-heading {
  font-weight: 300;
  font-size: 86px;
  line-height: 96px;
  text-align: center;
  color: #ffffff;
  font-family: 'Reckless TRIAL';
  font-style: normal;
}
.quality-section1-heading-mob {
  font-weight: 300;
  font-size: 38px;
  line-height: 48px;
  text-align: center;
  color: #ffffff;
  font-family: 'Reckless TRIAL';
  font-style: normal;
}
@media screen and (max-width: 1700px) and (min-width: 1601px) {
  .quality-section1-heading {
    font-size: 70px;
    line-height: 80px;
  }
}
@media screen and (max-width: 1600px) {
  .layout-wrapper {
    margin-top: 76px;
    height: calc(100vh - 76px);
  }
  .quality-section1-heading {
    font-size: 60px;
    line-height: 70px;
  }
}
