@font-face {
  font-family: 'Reckless TRIAL';
  font-weight: bold;
  font-style: normal;
  src: local('Reckless TRIAL'), url('./fonts/RecklessNeueTRIAL-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Reckless TRIAL';
  font-weight: bold;
  font-style: italic;
  src: local('Reckless TRIAL'), url('./fonts/RecklessNeueTRIAL-BoldItalic.otf') format('opentype');
}
@font-face {
  font-family: 'Reckless TRIAL';
  font-weight: normal;
  font-style: normal;
  src: local('Reckless TRIAL'), url('./fonts/RecklessNeueTRIAL-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'TTCommons';
  font-weight: normal;
  font-style: normal;
  src: local('TTCommons'), url('./fonts/TTCommons-Regular.ttf') format('opentype');
}
@font-face {
  font-family: 'TTCommons';
  font-weight: bold;
  font-style: italic;
  src: local('TTCommons'), url('./fonts/TTCommons-BoldItalic.ttf') format('opentype');
}
@font-face {
  font-family: 'TTCommons';
  font-weight: bold;
  font-style: normal;
  src: local('TTCommons'), url('./fonts/TTCommons-Bold.ttf') format('opentype');
}

a:focus-visible {
  outline: -webkit-focus-ring-color auto 1px;
}

//@font-face {
//  font-family: 'Open Sans';
//  font-style: normal;
//  font-weight: 400;
//  src: url('../fonts/open-sans-v13-latin-regular.eot'); /* IE9 Compat Modes */
//  src: local('Open Sans'), local('OpenSans'),
//  url('../fonts/open-sans-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//  url('../fonts/open-sans-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
//  url('../fonts/open-sans-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
//  url('../fonts/open-sans-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
//  url('../fonts/open-sans-v13-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
//}
