.item-wrapper {
  position: relative;
}

.text-wrapper {
  position: absolute;
  top: 0;
  left: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 52.55%;
  height: 70.55%;
  padding-top: 35.19px;
  text-align: center;
  transform: translateX(-50%);
  max-width: 1009px;
}
.slider-section6 .text-wrapper {
  width: 70%;
  max-width: 1220px;
}
.item-title {
  padding-top: 20px;
  color: #fff;
  font-weight: 300;
  font-size: 60px;
  line-height: 70px;
  text-align: center;

  p {
    margin-bottom: 0;
  }
}
.slider-section6 .item-title {
  padding-top: 0;
}
.item-number {
  color: rgba(227, 210, 195, 0.5);
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
}
.item-paragraph {
  color: #e3d2c3;
  font-size: 30px;
  line-height: 40px;
}

.operations-text-wrapper {
  margin-left: 40px;
  background: #f9f4f0;
  margin-right: -120px;
  z-index: 1;
  margin-top: 142px;
  padding: 40px;
  max-width: 813px;
  width: 42.34%;
}

.operations-text {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;
  padding-top: 24px;
  color: #364243;
  font-family: 'TTCommons';
  font-style: normal;
}
.operations-text-wrapper .item-title {
  font-weight: 300;
  font-size: 50px;
  line-height: 60px;
  color: #0d1b1c;
  text-align: center;
  padding-top: 0;
  font-family: 'Reckless TRIAL';
  font-style: normal;
}
.operations-img {
  padding-top: 23px;
  width: 52%;
  max-width: 1051px;
}
.operations-img img {
  display: block;
  width: 100%;
}
.operations-slider .item-wrapper {
  display: flex;
  background: #e5dbd1;
  padding-top: 104px;
}

.quality-section5-slider-mob {
  background: #091513;
  margin-bottom: 70px;
}

.quality-text-wrapper {
  margin-left: 40px;
  background: #f9f4f0;
  margin-right: -75px;
  z-index: 1;
  margin-top: 172px;
  padding: 52px;
  max-width: 784px;
  width: 35.83%;
}
.quality-text-wrapper .item-title {
  display: flex;
  align-items: center;
  height: 100%;
  font-weight: 300;
  font-size: 24px;
  line-height: 1.5;
  color: #0d1b1c;
  padding-top: 0;
  text-align: start;
  font-family: 'TTCommons';
  font-style: normal;
}
.quality-slider .operations-img {
  padding-top: 23px;
  padding-bottom: 23px;
  max-width: 830px;
  width: 40%;
}

.quality-slider .item-wrapper {
  display: flex;
  background: #122222;
  padding-top: 104px;
}

.slider-section2-mob .item-wrapper img {
  object-fit: contain;
  object-position: center;
  width: 100%;
}
.slider-section2-mob .item-wrapper {
   display: block;

}
.slider-section6-mob .item-wrapper {
  height: 608px;
}
.slider-section6-mob .item-wrapper img {
  width: 100%;
}
.slider-section6 .item-wrapper img {
  width: 100%;
}
.slider-section6 .item-paragraph {
  text-align: center;
  color: #e3d2c3;
  font-family: 'TTCommons';
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 40px;
}
.slider-section6-mob .item-paragraph,
.slider-section6-mob .item-number {
  font-family: 'TTCommons';
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #e3d2c3;
  }
.slider-section6 .item-title {
  font-family: 'Reckless TRIAL';
  font-style: normal;
  font-weight: 300;
  font-size: 56px;
  line-height: 60px;
  text-align: center;
  color: #ffffff;
}
.slider-section6-mob .item-title {
  font-family: 'Reckless TRIAL';
  font-style: normal;
  font-weight: 300;
  font-size: 34px;
  line-height: 44px;
  text-align: center;
  color: #ffffff;
  padding-top: 64px;
}

.slider-section6-mob .text-wrapper {
  position: absolute;
  top: 0;
  left: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding-top: 64px;
  text-align: center;
  transform: translateX(-50%);
  padding-bottom: 166px;
  padding-left: 40px;
  padding-right: 40px;
}
.company-section2-slider-mob img {
   width: 100%;
}

.partners-section2-slider-mob img {
  width: 100%;
}

.partners-section2-slider-mob .item-wrapper {
  background: #f3ede8;
  padding: 0 !important;
}
.partners-section2-slider-mob .item-wrapper div.slick-list {
  width: 100%;
 }
.company-section2-slider-mob .item-wrapper {
  background: #e3d7cd;
  padding-bottom: 108px;
}
.company-section2-mob-text-wrapper {
  padding: 48px 32px 0;
  max-height: 310px;
}
.company-section2-mob-text-wrapper .item-paragraph1 {
  font-family: 'TTCommons';
  font-size: 20px;
  line-height: 26px;
  color: #364243;
  text-transform: lowercase;
}
.company-section2-mob-text-wrapper .item-paragraph2 {
  display: none;
}
.company-section2-mob-text-wrapper .item-paragraph1::first-letter,
.company-section2-mob-text-wrapper .item-paragraph2::first-letter {
  text-transform: capitalize;
}
.partners-section2-mob-text-wrapper {
  padding: 40px 32px 0;
}
.partners-section2-mob-text-wrapper .item-paragraph2,
.partners-section2-mob-text-wrapper .item-paragraph1 {
  font-size: 20px;
  line-height: 26px;
  color: #364243;
  font-family: 'TTCommons';
  font-style: normal;
  font-weight: normal;
}
.partners-section2-mob-text-wrapper .item-paragraph2 {
  margin-top: 32px;
}
.img-srcAct {
  display: flex;
  width: 50%;
  margin: 0 auto 30px;

  img {
    width: 100%;
    max-height: 154px;
    object-fit: contain;
  }
}

.operations-slider-mob .operations-img {
  padding-top: 0;
  //max-height: 319px;
  margin-top: -1px;
  order: -1;
}
.operations-slider-mob .operations-img img {
  width: 100%;
}
.operations-slider-mob .item-title {
  font-weight: 300;
  font-size: 34px;
  line-height: 44px;
  color: #0d1b1c;
  text-align: center;
  padding-top: 0;
  font-family: 'Reckless TRIAL';
  font-style: normal;
}

.operations-slider-mob .operations-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #364243;
  font-family: 'TTCommons';
  font-style: normal;
}

.operations-slider-mob .operations-text-wrapper {
  background: #f9f4f0;
  z-index: 1;
  padding: 32px 27px 48px 32px;
  max-width: 813px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: -20px;
}

.operations-slider-mob .item-wrapper {
  display: flex;
  flex-direction: column;
}
.operations-slider-mob .operations-number {
  order: 1;
  margin-top: -77px;
}

.quality-slider-mob .operations-img {
  padding-top: 0;

  order: -1;
  margin-top: -1px;
}
.quality-slider-mob .operations-img img {
  width: 100%;
}
.quality-slider-mob .item-title {
  font-weight: 300;
  font-size: 20px;
  line-height: 1.4;
  color: #0d1b1c;
  padding-top: 0;
  font-family: 'TTCommons';
  font-style: normal;
}

.quality-slider-mob .quality-text-wrapper {
  background: #f9f4f0;
  z-index: 1;
  padding: 32px 31px 32px 24px;
  max-width: 813px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: -33px;
}

.quality-slider-mob .item-wrapper {
  display: flex;
  flex-direction: column;
  padding-bottom: 108px;
}
.quality-slider-mob .operations-number {
  display: none;
}

.quality-section4-mob-text-wrapper .item-paragraph1,
.quality-section4-mob-text-wrapper .item-paragraph2 {
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
  padding-left: 46px;
  padding-right: 10%;
  display: flex;
  align-items: flex-start;
  position: relative;
  margin-bottom: 56px;
  font-family: 'TTCommons';
  font-style: normal;
  font-weight: normal;
}

.quality-section4-mob-text-wrapper .item-paragraph1:before,
.quality-section4-mob-text-wrapper .item-paragraph2:before {
  content: ' ';
  width: 8px;
  height: 8px;
  border: 2px solid #e5c5ac;
  border-radius: 100%;
  margin-right: 26px;
  position: absolute;
  top: 10px;
  left: 0;
}

.quality-section4-mob-text-wrapper {
  padding-left: 16px;
}

.home-section4-block-mob .item-wrapper {
  background: #2a4139;
 // padding: 72px 15px 108px;
  padding: 52px 15px 0;
  min-height: 400px;
  border-top: 3px solid #e3d2c3;
}

.home-section4-text-wrapper-mob .item-title {
  padding-top: 0;
  font-weight: normal;
  font-size: 28px;
  line-height: 38px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 40px;
  font-family: 'Reckless TRIAL';
  font-style: normal;
}

.home-section4-text-wrapper-mob .item-number {
  color: rgba(227, 210, 195, 0.5);
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
}
.slider-section2 .item-wrapper {
  max-width: 906px;
  max-height: 487px;
}

@media screen and (max-width: 1700px) and (min-width: 1441px) {
  .operations-text-wrapper .item-title {
    font-size: 40px;
    line-height: 50px;
  }

  .operations-img {
    padding-top: 20px;
  }

  .operations-text-wrapper {
    margin-left: 30px;
    margin-right: -160px;
    margin-top: 132px;
    padding: 40px;
  }

  .operations-text {
    padding-top: 14px;
  }
}
@media screen and (max-width: 1700px) and (min-width: 1601px) {
  .quality-text-wrapper {
    margin-left: 30px;
    margin-right: -95px;
    padding: 34px 42px 34px 34px;
  }

   .quality-slider .item-wrapper {
    padding-top: 64px;
  }
  .quality-slider .arrow-next,
  .quality-slider .arrow-prev {
    top: 43px;
  }
}
@media screen and (max-width: 1600px) and (min-width: 992px) {
  .quality-text-wrapper {
    margin-left: 20px;
    margin-right: -125px;
    padding: 34px 32px;
  }

  .quality-slider .item-wrapper {
    padding-top: 64px;
  }
  .quality-slider .arrow-next,
  .quality-slider .arrow-prev {
    top: 43px;
  }
}

@media screen and (max-width: 1440px) and (min-width: 992px) {
  .operations-text-wrapper .item-title {
    font-size: 30px;
    line-height: 40px;
  }

  .operations-img {
    padding-top: 10px;
  }

  .operations-text-wrapper {
    margin-left: 20px;
    margin-right: -180px;
    margin-top: 100px;
    padding: 30px;
  }

  .operations-text {
    font-size: 24px;
    line-height: 34px;
    padding-top: 14px;
  }
}
@media screen and (max-width: 991px) {
  .operations-img {
    width: 100%;
    max-width: initial;
  }
  .operations-text-wrapper {
    max-width: 813px;
    width: auto;
  }

  .quality-text-wrapper {
    width: auto;
  }

  .quality-slider .operations-img {
    width: 100%;
    max-width: initial;
  }
}
@media screen and (max-width: 1336px) {
  .slider-section2 .item-wrapper {
    margin-left: 30px;
  }
  .slider-section6 .item-title {
    font-size: 36px;
    line-height: 46px;
  }
}

@media screen and (max-width: 1800px) and (min-width: 1661px) {
  .slider-section6 .item-title {
    font-size: 50px;
    line-height: 60px;
  }
}

@media screen and (max-width: 1660px) and (min-width: 1401px) {
  .slider-section6 .item-title {
    font-size: 40px;
    line-height: 50px;
  }
}
@media screen and (max-width: 1400px) {
  .slider-section6 .item-title {
    font-size: 30px;
    line-height: 40px;
    padding-top: 5px !important;
    max-width: 700px;
    margin: 0 auto;
  }
}
