.slider-section2 .app-carousel {
  margin-left: -571px;
}
.slider-section6 {
  border-top: 3px solid #e3d2c3;
  border-bottom: 3px solid #e3d2c3;
}
.slider-section6 .app-carousel {
  margin: 0;
}
.slider-section2 .arrow-next,
.slider-section2 .arrow-prev {
  position: absolute;
  top: 116%;
  right: 0;
  display: flex;
  color: #d4b297;
  background: transparent;
  border-bottom: none;
  border-left: none;
  outline: none;
  cursor: pointer;
}
.slider-section6 .arrow-next,
.slider-section6 .arrow-prev {
  position: absolute;
  top: 85.7%;
  left: 50%;
  display: flex;
  color: #d4b297;
  background: transparent;
  border-bottom: none;
  border-left: none;
  outline: none;
  cursor: pointer;
}
.slider-section6 .arrow-next {
  transform: translateX(11.5px);
}
.slider-section6 .arrow-prev {
  z-index: 1;
  transform: translateX(calc(-100% - 11.5px));
}
.slider-section2 .arrow-next {
  transform: translate(-595%, 0);
}
.slider-section2 .arrow-prev {
  transform: translate(-716%, 0);
}

.slider-section2 .arrow-next::after,
.slider-section2 .arrow-prev::after,
.slider-section6 .arrow-next::after,
.slider-section6 .arrow-prev::after {
  position: absolute;
  top: 50%;
  width: 62px;
  height: 62px;
  border: 1px solid #d4b297;
  border-radius: 100%;
  content: '';
}

.slider-section6 .arrow-next {
  z-index: 2;
}

.slider-section2 .arrow-next::after,
.slider-section6 .arrow-next::after {
  left: 100%;
  transform: translate(-51.62%, -50%);
  z-index: 8;
}

.slider-section2 .arrow-prev::after,
.slider-section6 .arrow-prev::after {
  right: 100%;
  transform: translate(51.62%, -50%);
}
.slider-section2 .slick-slide.slick-active img {
  border-top: 3px solid #e3d2c3;
  transition: all 0.3s ease 0s;

  width: 100%;
  //height: 100%;
  object-fit: cover;
  object-position: center;
}
.slider-section2 .slick-slide.slick-active {
  padding-right: 20px;
  padding-left: 20px;
}

.slider-section2 .slick-slide.slick-active.slick-current img {
  border-top: 3px solid transparent;
  transition: all 0.3s ease 0s;
}
.operations-slider .arrow-next,
.operations-slider .arrow-prev {
  position: absolute;
  top: 73px;
  left: 175px;
  display: flex;
  color: #d4b297;
  background: transparent;
  border-bottom: none;
  border-left: none;
  outline: none;
  cursor: pointer;
}
.operations-slider .arrow-next {
  transform: translateX(calc(100% + 23px));
}
.operations-slider .arrow-prev {
  z-index: 1;
}

.operations-slider .arrow-next::after,
.operations-slider .arrow-prev::after {
  position: absolute;
  top: 50%;
  width: 62px;
  height: 62px;
  border: 1px solid #d4b297;
  border-radius: 100%;
  content: '';
}

.operations-slider .arrow-next {
  z-index: 2;
}

.operations-slider .arrow-prev {
  z-index: 3;
}

.operations-slider .arrow-next::after {
  left: 100%;
  transform: translate(-51.62%, -50%);
}

.operations-slider .arrow-prev::after {
  right: 100%;
  transform: translate(51.62%, -50%);
}

.quality-slider .arrow-next,
.quality-slider .arrow-prev {
  position: absolute;
  top: 83px;
  left: 375px;
  display: flex;
  color: #d4b297;
  background: transparent;
  border-bottom: none;
  border-left: none;
  outline: none;
  cursor: pointer;
}
.quality-slider .arrow-next {
  transform: translateX(calc(100% + 23px));
}
.quality-slider .arrow-prev {
  z-index: 1;
}

.quality-slider .arrow-next::after,
.quality-slider .arrow-prev::after {
  position: absolute;
  top: 50%;
  width: 62px;
  height: 62px;
  border: 1px solid #d4b297;
  border-radius: 100%;
  content: '';
}

.quality-slider .arrow-next {
  z-index: 2;
}

.quality-slider .arrow-prev {
  z-index: 3;
}

.quality-slider .arrow-next::after {
  left: 100%;
  transform: translate(-51.62%, -50%);
}

.quality-slider .arrow-prev::after {
  right: 100%;
  transform: translate(51.62%, -50%);
}

.slider-section2-mob .arrow-next,
.slider-section2-mob .arrow-prev {
  position: absolute;
  //top: calc(100% + 210px);
  top: calc(100% + 260px);
  left: 50%;
  display: flex;
  color: #0d1b1c;
  background: transparent;
  border-bottom: none;
  border-left: none;
  outline: none;
  cursor: pointer;
  width: 78.77px;
  z-index: 4;
}
.home-section4-block-mob .arrow-next,
.quality-section5-slider-mob .arrow-next,
.quality-slider-mob .arrow-next,
.operations-slider-mob .arrow-next,
.company-section2-slider-mob .arrow-next,
.slider-section2-mob .arrow-next,
.slider-section6-mob .arrow-next {
  transform: translateX(8.16px);
}
.home-section4-block-mob .arrow-prev,
.quality-section5-slider-mob .arrow-prev,
.quality-slider-mob .arrow-prev,
.operations-slider-mob .arrow-prev,
.company-section2-slider-mob .arrow-prev,
.slider-section2-mob .arrow-prev,
.slider-section6-mob .arrow-prev {
  z-index: 5;
  transform: translateX(calc(-100% - 8.16px));
}

.operations-slider-mob .arrow-next::after,
.operations-slider-mob .arrow-prev::after,
.company-section2-slider-mob .arrow-next::after,
.company-section2-slider-mob .arrow-prev::after,
.slider-section2-mob .arrow-next::after,
.slider-section2-mob .arrow-prev::after {
  position: absolute;
  top: 50%;
  width: 44px;
  height: 44px;
  border: 1px solid #0d1b1c;
  border-radius: 100%;
  content: '';
  transition: all 0.3s ease 0s;
}

.quality-section5-slider-mob .arrow-next::after,
.quality-section5-slider-mob .arrow-prev::after,
.quality-slider-mob .arrow-next::after,
.quality-slider-mob .arrow-prev::after {
  border: 1px solid #b99273;
  position: absolute;
  top: 50%;
  width: 44px;
  height: 44px;
  border-radius: 100%;
  content: '';
  transition: all 0.3s ease 0s;
}
.operations-slider-mob .arrow-next::after,
.operations-slider-mob .arrow-prev::after,
.company-section2-slider-mob .arrow-next::after,
.company-section2-slider-mob .arrow-prev::after {
  border: 1px solid #0d1b1c;
}

.home-section4-block-mob .arrow-next,
.quality-slider-mob .arrow-next,
.operations-slider-mob .arrow-next,
.company-section2-slider-mob .arrow-next,
.slider-section2-mob .arrow-next,
.slider-section6-mob .arrow-next {
  z-index: 6;
}

.home-section4-block-mob .arrow-prev,
.quality-slider-mob .arrow-prev,
.operations-slider-mob .arrow-prev,
.company-section2-slider-mob .arrow-prev,
.slider-section2-mob .arrow-prev,
.slider-section6-mob .arrow-prev {
  z-index: 7;
}
.home-section4-block-mob .arrow-next::after,
.quality-section5-slider-mob .arrow-next::after,
.quality-slider-mob .arrow-next::after,
.operations-slider-mob .arrow-next::after,
.company-section2-slider-mob .arrow-next::after,
.slider-section2-mob .arrow-next::after,
.slider-section6-mob .arrow-next::after {
  left: 100%;
  transform: translate(-51.62%, -50%);
}

.home-section4-block-mob .arrow-prev::after,
.quality-section5-slider-mob .arrow-prev::after,
.quality-slider-mob .arrow-prev::after,
.operations-slider-mob .arrow-prev::after,
.company-section2-slider-mob .arrow-prev::after,
.slider-section2-mob .arrow-prev::after,
.slider-section6-mob .arrow-prev::after {
  right: 100%;
  transform: translate(51.62%, -50%);
}

.home-section4-block-mob .arrow-next,
.home-section4-block-mob .arrow-prev,
.slider-section6-mob .arrow-next,
.slider-section6-mob .arrow-prev {
  position: absolute;
  top: calc(100% - 64px);
  left: 50%;
  display: flex;
  color: #d4b297;
  background: transparent;
  border-bottom: none;
  border-left: none;
  outline: none;
  cursor: pointer;
  width: 78.77px;
  z-index: 4;
}

.home-section4-block-mob .arrow-next::after,
.home-section4-block-mob .arrow-prev::after,
.slider-section6-mob .arrow-next::after,
.slider-section6-mob .arrow-prev::after {
  position: absolute;
  top: 50%;
  width: 44px;
  height: 44px;
  border: 1px solid #d4b297;
  border-radius: 100%;
  content: '';
  transition: all 0.3s ease 0s;
}

.quality-section5-slider-mob .arrow-next::after,
.quality-section5-slider-mob .arrow-prev::after {
  border: 1px solid #f9f4f0;
}
.operations-slider-mob .arrow-next,
.operations-slider-mob .arrow-prev,
.company-section2-slider-mob .arrow-next,
.company-section2-slider-mob .arrow-prev {
  position: absolute;
  top: calc(100% - 60px);
  left: 50%;
  display: flex;
  color: #0d1b1c;
  background: transparent;
  border-bottom: none;
  border-left: none;
  outline: none;
  cursor: pointer;
  width: 78.77px;
  z-index: 4;
}

.quality-section5-slider-mob .arrow-next,
.quality-section5-slider-mob .arrow-prev,
.quality-slider-mob .arrow-next,
.quality-slider-mob .arrow-prev {
  top: calc(100% - 54px);
  position: absolute;
  left: 50%;
  display: flex;
  color: #b99273;
  background: transparent;
  border-bottom: none;
  border-left: none;
  outline: none;
  cursor: pointer;
  width: 78.77px;
  z-index: 4;
}
.operations-slider-mob .arrow-next,
.operations-slider-mob .arrow-prev {
  top: calc(100% - 20px);
}
.quality-section5-slider-mob .arrow-next,
.quality-section5-slider-mob .arrow-prev {
  top: 100%;
  color: #f9f4f0;
}
.operations-slider-mob {
  background: #e5dbd1;
  padding-bottom: 30px;
}
.quality-slider-mob {
  background: #091513;
}

.company-section2-slider-mob {
  background: #e3d7cd;
}

.partners-section2-slider-mob .arrow-next,
.partners-section2-slider-mob .arrow-prev {
  position: absolute;
  top: 18px;
  display: flex;
  color: #0d1b1c;
  background: transparent;
  border-bottom: none;
  border-left: none;
  outline: none;
  cursor: pointer;
  width: 58.77px;
  z-index: 4;
}

.partners-section2-slider-mob .arrow-next {
  right: 30px;
}
.partners-section2-slider-mob .arrow-prev {
  z-index: 5;
  left: 30px;
}

.partners-section2-slider-mob .arrow-next::after,
.partners-section2-slider-mob .arrow-prev::after {
  position: absolute;
  top: 50%;
  width: 35px;
  height: 35px;
  border: 1px solid #0d1b1c;
  border-radius: 100%;
  content: '';
  transition: all 0.3s ease 0s;
}

.partners-section2-slider-mob .arrow-next {
  z-index: 6;
}

.quality-section5-slider-mob .arrow-prev,
.partners-section2-slider-mob .arrow-prev {
  z-index: 7;
}

.partners-section2-slider-mob .arrow-next::after {
  left: 100%;
  transform: translate(-51.62%, -50%);
}

.partners-section2-slider-mob .arrow-prev::after {
  right: 100%;
  transform: translate(51.62%, -50%);
}

@media screen and (max-width: 1900px) and (min-width: 1741px) {
  .slider-section2 .app-carousel {
    margin-left: -681px;
  }
}
@media screen and (max-width: 1740px) and (min-width: 1441px) {
  .slider-section2 .app-carousel {
      margin-left: -681px;
  }
}
@media screen and (max-width: 1440px) and (min-width: 1337px) {
  .slider-section2 .app-carousel {
     margin-left: -681px;
  }
}
@media screen and (max-width: 1600px) {
  .slider-section2 .arrow-prev,
  .slider-section2 .arrow-next {
    top: calc(100% + 60px);
  }
}
