//.menu-items .app-menu-dark .app-menu-horizontal > .app-menu-item > a{
//  font-family: 'TTCommons';
//  font-style: normal;
//  font-weight: 500;
//  font-size: 20px;
//  line-height: 30px;
//  text-transform: uppercase;
//  //color: #FDF7E8;
//  color: red;
//}
