.app-space-align-center div:last-child {
  display: flex;
  align-items: center;
  align-self: stretch;
  justify-content: center;
}
.contact-us {
  white-space: nowrap;
  background: #e3d7cd;
  padding-top: 14px;
  padding-bottom: 10px;
  min-width: 279px;
  max-width: 350.26px;
  width: 100%;

  & > a {
    color: #122222;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    font-family: 'TTCommons';

    & p {
      margin-bottom: 0;
    }
  }
}

.contact-us-mob {
  background: #e3d7cd;
  border-radius: 38px;
  padding-top: 24px;
  padding-bottom: 24px;
  text-align: center;
}
.contact-us-mob p {
  margin-bottom: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #122222;
}
@media screen and (max-width: 1441px) and (min-width: 1281px) {
  .contact-us {
    min-width: 250px;
    padding-top: 0;
    padding-bottom: 0;
  }
}
@media screen and (max-width: 1280px) and (min-width: 991px) {
  .contact-us > a {
    font-size: 16px;
    line-height: 26px;
  }
  .contact-us {
    min-width: 230px;
    padding-top: 0;
    padding-bottom: 0;
  }
}
