.contact-info {
  display: flex;
  flex-direction: column;
  background: #0d1b1c;
  padding-top: 14px;
  padding-bottom: 14px;
  min-width: 279px;
  max-width: 350.26px;
  width: 100%;

  & > a {
    color: #fdf7e8;
    //font-weight: 500;
    //font-size: 13px;
    //line-height: 24px;
    //font-family: 'TTCommons';

    &:hover {
      color: #d4b297;
    }
  }

  //& > a .logo-email {
  //  margin-bottom: 0;
  //  text-transform: uppercase;
  //}

  //& > a .logo-tel {
  //  margin-bottom: 4px;
  //  font-size: 18px;
  //  text-align: center;
  //}
}
.logo-tel {
  margin-bottom: 0;
  text-transform: uppercase;
  font-family: 'TTCommons';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}
.logo-email {
  margin-bottom: 4px;
  //text-transform: uppercase;
  font-size: 14px;
}
.contact-info-mob {
  margin-top: 60px;
  margin-bottom: 39px;
  display: flex;
  flex-direction: column;
}
.logo-tel-mob {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  color: #fdf7e8;
}
.logo-email-mob {
  font-weight: 500;
  font-size: 13px;
  line-height: 30px;
  text-transform: uppercase;
  color: #fdf7e8;
}
@media screen and (max-width: 1441px) and (min-width: 1281px) {
  .contact-info {
    min-width: 270px;
    padding-top: 14px;
    padding-bottom: 14px;
  }
}
@media screen and (max-width: 1280px) {
  .contact-info {
    min-width: 270px;
    padding-top: 14px;
    padding-bottom: 14px;
  }
}
