.title-contact-form {
  font-size: 60px;
  line-height: 70px;
  color: #0d1b1c;
  text-align: center;
  font-family: 'Reckless TRIAL';
  font-style: normal;
  font-weight: 300;
}
.title-contact-form-mob {
  font-size: 38px;
  line-height: 48px;
  color: #0d1b1c;
  text-align: center;
  font-family: 'Reckless TRIAL';
  font-style: normal;
  font-weight: 300;
}

.input-form {
  border-bottom: 1px solid #616168;
  background-color: transparent !important;
  outline: none;
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: 0;
  padding-left: 0;
}

.input-form::placeholder {
  font-size: 14px;
  line-height: 26px;
  color: #0d1b1c;
}

.input-form:active,
.input-form:hover,
.input-form:focus,
.app-form-item-has-error .app-input:focus {
  outline: 0;
  outline-offset: 0;
  border-bottom: 1px solid #616168;
  border-top: none;
  border-right: none;
  border-left: none;
  box-shadow: none;
}
.input-form:focus {
  padding-left: 11px;
}
.app-form-item-has-error .app-input,
.app-form-item-has-error .app-input:hover {
  background-color: transparent !important;
}
.app-input:hover {
  border-bottom: 1px solid #616168;
  border-top: none;
  border-right: none;
  border-left: none;
}

.text-checkbox {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #0d1b1c;
}

.text-paragraph {
  font-size: 13px;
  line-height: 22px;
  color: #0d1b1c;
  margin-top: 10px;
  margin-left: -25px;
}

.link-checkbox {
  color: #0d1b1c;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
}

.app-form-item input[type='checkbox'] {
  width: 16px;
  height: 16px;
}

.app-checkbox-inner {
  width: 16px;
  height: 16px;
  background-color: transparent;
  border: 1px solid #122222;
  border-radius: 3px;
}
.app-checkbox-checked .app-checkbox-inner {
  background-color: transparent;
  border: 1px solid #122222;
  box-sizing: border-box;
  border-radius: 5px;
  width: 20px;
  height: 20px;
}
.app-checkbox-input {
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 1px solid #122222;
  box-sizing: border-box;
  border-radius: 5px;
}

.app-checkbox-checked .app-checkbox-inner::after {
  position: absolute;
  top: 45%;
  left: 22%;
  display: table;
  border: 2px solid #122222;
  border-top: 0;
  border-left: 0;
  transform: rotate(45deg) scale(1) translate(-50%, -50%);
  opacity: 1;
  transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
  content: ' ';
  width: 7px;
  height: 11.8px;
}
.app-checkbox-wrapper:hover .app-checkbox-inner,
.app-checkbox:hover .app-checkbox-inner,
.app-checkbox-input:focus + .app-checkbox-inner {
  border-color: #122222;
}
.app-checkbox-checked::after {
  border-color: #122222;
  border-radius: 5px;
}
.upload-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #0d1b1c;
  margin-left: 9px;
}
.upload-subtitle {
  font-size: 14px;
  line-height: 22px;
  color: #364243;
}
.upload-btn {
  background: #122222;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload-btn:active,
.upload-btn:focus,
.upload-btn:hover {
  text-decoration: none;
  background: #122222;
  color: #122222;
  border-color: #122222;
}
.submit-btn {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  background: #122222;
  border-radius: 38px;
  width: 100%;
  padding-top: 19px;
  padding-bottom: 19px;
  height: fit-content;
}

.submit-btn:active,
.submit-btn:focus,
.submit-btn:hover {
  text-decoration: none;
  color: #616168;
  background: transparent;
  border-color: #616168;
}
.upload-title-mob {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #0d1b1c;
}
.upload-subtitle-mob {
  font-size: 14px;
  line-height: 22px;
  color: #364243;
}
.text-checkbox-mob {
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;
  color: #0d1b1c;
}
.text-paragraph-mob {
  font-size: 13px;
  line-height: 22px;
  color: #0d1b1c;
}
.checkbox-mob .app-checkbox + span {
  padding-left: 0;
  padding-right: 0;
}
