.app-menu-dark .app-menu-item > a {
  color: #e5dfd8;
  font-family: 'TTCommons';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
}
.app-space-align-center div:nth-child(2) {
  width: 100%;
}
.app-menu-dark .app-menu-item-selected > a,
.app-menu-dark .app-menu-item-selected > span > a,
.app-menu-dark .app-menu-item-selected > a:hover,
.app-menu-horizontal > .app-menu-item a:hover {
  color: #d4b297;
}

.app-menu.app-menu-dark .app-menu-item-selected,
.app-menu-submenu-popup.app-menu-dark .app-menu-item-selected,
.app-menu-dark.app-menu-horizontal > .app-menu-item:hover {
  background: none;
}
.app-space.app-space-horizontal.app-space-align-center > div {
  margin-right: 0 !important;
  max-width: 1920px;
}

.app-btn.app-dropdown-trigger.btn-burger.dropdown {
  width: 50px;
  height: 26px;
  background: 0 0;
  border: none;
  cursor: pointer;
  padding: 0;
  outline: 0;
  top: 0;
  right: 0;
  position: relative;
}

.btn-burger span {
  position: absolute !important;
  height: 2px;
  background: #e3d2c3;
  width: 50px;
  left: 0;
  top: calc(50% - 1px);
}

.btn-burger.app-dropdown-open.dropdown span {
  background-color: transparent;
  transition: all 0.3s ease 0s;
}

.btn-burger span::after,
.btn-burger span::before {
  content: '';
  position: absolute !important;
  height: 2px;
  background: #e3d2c3;
  transition: all 0.3s ease 0s;
}
.btn-burger span::after {
  top: -12px;
  width: 50px;
  left: 0;
}
.btn-burger span::before {
  top: 12px;
  width: 43px;
  right: 0;
}
.btn-burger.app-dropdown-open.dropdown span::before {
  top: 0;
  width: 50px;
  transform: rotate(45deg);
  transition: all 0.3s ease 0s;
}
.btn-burger.app-dropdown-open.dropdown span::after {
  top: 0;
  transform: rotate(-45deg);
  transition: all 0.3s ease 0s;
}

.mob-menu .app-space-align-center div:nth-child(2) {
  width: auto;
}
.menu-dropdown {
  top: 80px !important;
  background: #122222;
}
.dropdown-item {
  padding-left: 24px !important;
  font-weight: 500;
  font-size: 20px;
  line-height: 60px;
}

a.dropdown-link {
  padding: 0 !important;
  color: #fdf7e8;
  text-transform: uppercase;
}
.app-dropdown-menu-item:hover,
.app-dropdown-menu-submenu-title:hover {
  background: #e3d7cd;
}
.app-dropdown-menu-item > a:hover,
.app-dropdown-menu-submenu-title > a:hover {
  color: #122222;
}

.trademark {
  position: relative;
  top: -2px;
  font-size: 18px;

  @media (min-width: 768px) {
    top: -3px;
    font-size: 22px;
  }
}
@media screen and (max-width: 1441px) and (min-width: 1281px) {
  .app-menu-dark.app-menu-horizontal > .app-menu-item {
    padding: 0 10px;
  }
}
@media screen and (max-width: 1280px) and (min-width: 1110px) {
  .app-menu-dark.app-menu-horizontal > .app-menu-item {
    padding: 0 5px;
  }
  .app-menu-dark .app-menu-item > a {
    font-size: 16px;
    line-height: 26px;
  }
}
@media screen and (max-width: 1109px) and (min-width: 1000px) {
  .app-menu-dark.app-menu-horizontal > .app-menu-item {
    padding: 0 5px;
  }
  .app-menu-dark .app-menu-item > a {
    font-size: 14px;
    line-height: 24px;
  }
}
@media screen and (max-width: 999px) {
  .app-menu-dark.app-menu-horizontal > .app-menu-item {
    padding: 0 5px;
  }
  .app-menu-dark .app-menu-item > a {
    font-size: 12px;
    line-height: 22px;
  }
}
