@import (reference) '~antd/lib/style/themes/index';

@layout-header-height: 116px;
@layout-header-background: #122222;
@menu-bg: transparent;
@menu-dark-bg: transparent;
@menu-item-height: @layout-header-height;
@menu-dark-item-hover-bg: transparent;
@menu-item-color: #fdf7e8;
@menu-dark-highlight-color: #d4b297;
@menu-dark-selected-item-text-color: @menu-dark-highlight-color;
@menu-dark-selected-item-icon-color: @menu-dark-selected-item-text-color;
@menu-item-active-bg: transparent;
