.logo {
  padding: 34px 65px 30px 66px;
  background: #0d1b1c;
}

.logo > a {
  color: #fdf7e8;
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;
}

.logo > a:hover {
  color: #d4b297;
}

.logo > a .logo-email {
  margin-bottom: 0;
  text-transform: uppercase;
}

.logo > a .logo-tel {
  margin-bottom: 4px;
  font-size: 18px;
  text-align: center;
}
.logo-top {
  width: 193px;
  height: 62px;
  color: #fdf7e8;
  display: block;
}
.logo-top:hover {
  color: #d4b297;
}
