.layout-wrapper-section5 {
  padding: 60px 120px 0 142px;
}
.section5-img {
  padding-bottom: 100px;
}
.img-wrapper {
  padding-right: 30px;
  padding-bottom: 30px;
  background: linear-gradient(to right, transparent 0, transparent 0, transparent 100%, transparent 0) no-repeat,
    linear-gradient(to right, transparent 0, transparent 0, transparent calc(100% - 189px), #ba9578 0) no-repeat,
    linear-gradient(to bottom, transparent 0, transparent 0, transparent 100%, transparent 0) no-repeat,
    linear-gradient(to bottom, transparent 0, transparent 0, transparent calc(100% - 189px), #ba9578 0) no-repeat;
  background-position-x: 0, 0, 0, 100%;
  background-position-y: 0, 100%, 0, 0;
  background-size: 100% 1px, 100% 1px, 1px 100%, 1px 100%;
}
.name {
  font-size: 60px;
  line-height: 70px;
  color: #caa78b;
  margin-bottom: 30px;
  font-family: 'Reckless TRIAL';
  font-style: normal;
  font-weight: normal;
}
.title {
  font-weight: 400;
  font-size: 35px;
  line-height: 45px;
  color: #091513;
  padding-right: 53px;
  margin-bottom: 40px;
  font-family: 'TTCommons';
  font-style: normal;

  @media (min-width: 1300px) {
    white-space: break-spaces;
  }
}
.paragraph,
.paragraph.section5-paragraph {
  font-weight: 400;
  font-size: 25px;
  line-height: 35px;
  color: #364243;
  padding-right: 53px;
  margin-bottom: 46px;
  font-family: 'TTCommons';
  font-style: normal;
}
.section5-text {
  padding-right: 86px;
  padding-left: 5px;
  //padding-top: 40px;
}
.btn-wrapper {
  display: flex;
  justify-content: flex-end;
}

.btn-active {
  color: #98877b;
  z-index: 20;
}
.btn-active .app-btn-link {
  color: #98877b !important;
}
.btn-active:hover {
  color: #30172b;
}
.name-mob {
  font-size: 28px;
  line-height: 38px;
  color: #caa78b;
  padding-top: 32px;
  padding-bottom: 29px;
  font-family: 'Reckless TRIAL';
  font-style: normal;
  font-weight: normal;
}
.title-mob {
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;
  color: #091513;
  padding-bottom: 29px;
  font-family: 'TTCommons';
  font-style: normal;
}
.paragraph-mob {
  font-size: 20px;
  line-height: 26px;
  color: #364243;
  padding-bottom: 29px;
  font-family: 'TTCommons';
  font-style: normal;
}
@media screen and (max-width: 1800px) and (min-width: 1601px) {
  //@media screen and (max-width: 1800px) and (min-width: 1701px) {
  .layout-wrapper-section5 {
    padding: 40px 100px 10px 120px;
  }

  .name {
    font-size: 50px;
    line-height: 60px;
    color: #caa78b;
    margin-bottom: 20px;
  }

  .title {
    padding-right: 43px;
    margin-bottom: 30px;
    font-size: 30px;
    line-height: 40px;
  }
  .paragraph {
    padding-right: 30px;
    margin-bottom: 30px;
  }
  .section5-text {
    padding-right: 56px;
    //padding-top: 30px;
  }
}
@media screen and (max-width: 1600px) {
  .layout-wrapper-section5 {
    padding: 40px 80px 10px 100px;
  }

  .name {
    font-size: 44px;
    line-height: 54px;
    margin-bottom: 20px;
  }
  .title {
    padding-right: 20px;
    margin-bottom: 20px;
    font-size: 28px;
    line-height: 38px;
  }
  .paragraph {
    padding-right: 40px;
    margin-bottom: 30px;
    font-size: 22px;
    line-height: 32px;
  }
  .section5-text {
    padding-right: 36px;
    //padding-top: 20px;
  }
}
//@media screen and (max-width: 1700px) and (min-width: 1601px) {
//  .layout-wrapper-section5 {
//    padding: 90px 90px 0 112px;
//  }
//
//  .section5-img {
//    padding-bottom: 143.5px;
//  }
//
//  .name {
//    font-size: 56px;
//    line-height: 66px;
//    margin-bottom: 30px;
//  }
//
//  .title {
//    padding-right: 40px;
//    margin-bottom: 30px;
//  }
//  .paragraph{
//    padding-right: 40px;
//    margin-bottom: 30px;
//  }
//  .section5-text{
//    padding-right: 56px;
//    padding-top: 20px;
//  }
//}
//@media screen and (max-width: 1601px) {
//  .layout-wrapper-section5 {
//    padding: 50px 50px 0 62px;
//  }
//
//  .section5-img {
//    padding-bottom: 163.5px;
//  }
//
//  .name {
//    font-size: 50px;
//    line-height: 60px;
//    margin-bottom: 30px;
//  }
//
//  .title {
//    padding-right: 30px;
//    margin-bottom: 30px;
//  }
//
//  .paragraph {
//    padding-right: 30px;
//    margin-bottom: 20px;
//  }
//
//  .section5-text {
//    padding-right: 36px;
//    padding-top: 20px;
//    padding-bottom: 20px;
//  }
//}
