.section4-block {
  padding-top: 72.5px;
  padding-bottom: 74.5px;
  background: linear-gradient(to right, #e3d2c3 189px, transparent 0, transparent 100%, transparent 0) no-repeat,
    linear-gradient(to right, transparent 0, transparent 0, transparent calc(100% - 189px), #e3d2c3 0) no-repeat,
    linear-gradient(to bottom, #e3d2c3 189px, transparent 0, transparent 100%, transparent 0) no-repeat,
    linear-gradient(to bottom, transparent 0, transparent 0, transparent calc(100% - 189px), #e3d2c3 0) no-repeat;
  background-position-x: 0, 0, 0, 100%;
  background-position-y: 0, 100%, 0, 0;
  background-size: 100% 1px, 100% 1px, 1px 100%, 1px 100%;
  max-width: 1285px;
  width: 100%;
}

.section4-heading {
  color: #fff;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  font-family: 'Reckless TRIAL';
  font-style: normal;
  font-weight: normal;
}

.section4-block-mob {
  padding: 60px 10px;
  background: linear-gradient(to right, #e3d2c3 100px, transparent 0, transparent 100%, transparent 0) no-repeat,
    linear-gradient(to right, transparent 0, transparent 0, transparent calc(100% - 100px), #e3d2c3 0) no-repeat,
    linear-gradient(to bottom, #e3d2c3 100px, transparent 0, transparent 100%, transparent 0) no-repeat,
    linear-gradient(to bottom, transparent 0, transparent 0, transparent calc(100% - 100px), #e3d2c3 0) no-repeat;
  background-position-x: 0, 0, 0, 100%;
  background-position-y: 0, 100%, 0, 0;
  background-size: 100% 1px, 100% 1px, 1px 100%, 1px 100%;
}
.section4-heading-mob {
  font-size: 23px;
  line-height: 32px;
  text-align: center;
  color: #ffffff;
  font-family: 'Reckless TRIAL';
  font-style: normal;
  font-weight: normal;
}
@media screen and (max-width: 1700px) and (min-width: 1601px) {
  //@media screen and (max-width: 1700px) and (min-width: 1441px) {
  .section4-block {
    padding-top: 52.5px;
    padding-bottom: 54.5px;
  }

  .section4-heading {
    color: #fff;
    font-size: 34px;
    line-height: 44px;
  }
}
@media screen and (max-width: 1600px) {
  //@media screen and (max-width: 1440px){
  .section4-block {
    padding-top: 42.5px;
    padding-bottom: 44.5px;
  }

  .section4-heading {
    color: #fff;
    font-size: 28px;
    line-height: 38px;
  }
}
