.section2 {
  height: 50%;
}
.section2.block {
  background: #f9f4f0;
}
.section2.block2 {
  padding-bottom: 139px;
  background: #e5dbd1;
}
.section2-text,
.section2text2 {
  align-self: center;
}
.section2-text {
  padding-right: 130px;
}

.section2-paragraph {
  display: flex;
  align-items: center;
  padding: 120px 112px;
  color: #364243;
  font-size: 24px;
  line-height: 1.5;
  font-family: 'TTCommons';
  font-style: normal;
  font-weight: normal;
  text-align: unset;
}


.section2-paragraph2 {
  display: flex;
  align-items: center;
  padding-top: 120px;
  padding-right: 150px;
  padding-left: 150px;
  color: #364243;
  font-size: 24px;
  line-height: 1.5;
  font-family: 'TTCommons';
  font-style: normal;
  font-weight: normal;
}
.section2-paragraph2 .paragraph1 {
  margin-bottom: 20px;
}
.section2-img1 {
  display: flex;
}
.section2-img2 {
  padding-right: 150px;
}
@media screen and (max-width: 1700px) and (min-width: 1601px) {
  .section2-paragraph {
    padding: 100px 110px;
  }
  .section2-paragraph2 {
    padding-top: 100px;
    padding-right: 130px;
    padding-left: 130px;
    font-weight: normal;
  }
  .section2.block2 {
    padding-bottom: 119px;
  }
  .section2-img2 {
    padding-right: 130px;
  }
}
@media screen and (max-width: 1600px) and (min-width: 1441px) {
  .section2-paragraph {
    //display: flex;
    //align-items: center;
    padding: 70px 62px;
    font-size: 24px;
    line-height: 1.5;
    font-weight: normal;
  }
  .section2-paragraph2 {
    padding-top: 70px;
    padding-right: 100px;
    padding-left: 100px;
    font-weight: normal;
  }
  .section2.block2 {
    padding-bottom: 89px;
  }
  .section2-img2 {
    padding-right: 110px;
  }
}
@media screen and (max-width: 1440px) and (min-width: 1201px) {
  .section2-paragraph {
    //display: flex;
    //align-items: center;
    padding: 50px 42px;
    font-size: 24px;
    line-height: 1.5;
    font-weight: normal;
  }
  .section2-paragraph2 {
    padding-top: 40px;
    padding-right: 50px;
    padding-left: 50px;
    font-weight: normal;
  }
  .section2.block2 {
    padding-bottom: 59px;
  }
  .section2-img2 {
    padding-right: 90px;
  }
}
@media screen and (max-width: 1200px) {
  .section2-paragraph {
    padding: 50px;
    font-size: 24px;
    line-height: 1.5;
    font-weight: normal;
  }
  .section2-paragraph2 {
    padding: 50px;
  }
  .section2.block2 {
    padding-bottom: 0;
  }
  .section2-img2 {
    padding-right: 0;
  }
}
