.layout-wrapper {
  height: calc(100vh - 75px);
  margin-top: 75px;
}

.company-section1-heading {
  color: #fff;
  font-weight: 300;
  font-size: 60px;
  line-height: 70px;
  font-family: 'Reckless TRIAL';
  font-style: normal;
  white-space: break-spaces;
  text-align: center;
}
.company-section1-heading-mob {
  font-weight: 300;
  font-size: 34px;
  line-height: 44px;
  text-align: center;
  color: #ffffff;
  align-self: flex-start;
  font-family: 'Reckless TRIAL';
  font-style: normal;
}
.company-section1-paragraph {
  max-width: 1000px;
  color: #e5dfd8;
  font-size: 30px;
  line-height: 40px;
  font-family: 'TTCommons';
  font-style: normal;
  white-space: break-spaces;
  font-weight: normal;
  text-align: center;
}
.company-section1-paragraph-mob {
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #e5dfd8;
  align-self: flex-end;
  font-family: 'TTCommons';
  font-style: normal;
  font-weight: normal;
}
.company-section1-text {
  padding: 56px;
  color: #f9f4f0;
  font-weight: normal;
  font-size: 30px;
  line-height: 40px;
  background: #122222;
  font-family: 'TTCommons';
  font-style: normal;
}
.company-section1-text-wrapper-mob {
  background: #122222;
  padding: 45px 30px;
  margin-top: -1px;
}
.company-section1-text-mob {
  font-size: 24px;
  line-height: 30px;
  color: #f9f4f0;
  margin-bottom: 0 !important;
  font-family: 'TTCommons';
  font-style: normal;
  font-weight: normal;
}
@media screen and (max-width: 1700px) and (min-width: 1681px) {
  .company-section1-heading {
    padding-left: 0;
    font-weight: 300;
    line-height: 58px;
  }
  .company-section1-paragraph {
    font-size: 26px;
    line-height: 36px;
  }

  .company-section1-text {
    font-weight: normal;
    font-size: 26px;
    line-height: 36px;
  }
}
@media screen and (max-width: 1680px) {
  .company-section1-heading {
    padding-left: 0;
    font-weight: 300;
    line-height: 54px;
  }
  .company-section1-paragraph {
    font-size: 24px;
    line-height: 34px;
    font-weight: normal;
  }

  .company-section1-text {
    width: 1274px;
    font-weight: normal;
    font-size: 24px;
    line-height: 34px;
  }
  .layout-wrapper {
    margin-top: 76px;
    height: calc(100vh - 76px);
  }
}
