.slider-company .slick-slide.slick-active .text-wrapper {
  display: flex;
}
.slider2 .slick-slide.slick-active.slick-current {
  display: none;
}
.slider-company .text-wrapper {
  padding-top: 30px;
  padding-right: 0;
  padding-left: 49px;
  padding-right: 50px;
  position: static;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: auto;
  height: auto;
  text-align: initial;
  transform: none;
}

.slider-company .item-title {
  font-size: 44px;
  line-height: 54px;
  color: #091513;
  margin-bottom: 28px;
  padding-top: 0;
  text-align: inherit;
  font-family: 'Reckless TRIAL';
  font-style: normal;
  font-weight: normal;
}

.slider-company .slick-slide {
  padding-top: 25px;
  background: #f9f4f0;
  padding-bottom: 165px;
  min-height: 690px;
}
.slider2 .slick-slide {
  padding-top: 25px;
  height: 100%;
  background: #f3ede8;
  padding-bottom: 20px;
  position: relative;
  border-right: 1px solid #d4b297;
}
.wrapper-slider .app-carousel,
.wrapper-slider .slick-slider,
.slider2 .app-carousel .slick-list,
.slider2 .slick-track,
.wrapper-slider .app-carousel .slick-slider .slick-list {
  height: 100% !important;
}
.slider-company div.item-wrapper {
  display: flex !important;
  height: 100%;
  align-items: stretch;
}
.slider2 .wrapper {
  width: 100%;
  display: flex;
  height: 100%;
  flex-direction: column;
}

.slider2 .title {
  font-size: 28px;
  line-height: 38px;
  color: #091513;
  font-family: 'Reckless TRIAL';
  font-style: normal;
  font-weight: normal;
}

.slider2 .text {
  position: absolute;
  display: block;
  transform: rotate(-90deg);
  height: 100%;
  transform-origin: left top 0;
  top: calc(100% - 30px);
  padding-top: 40px;
  width: 480px;
}

.slider-company .item-paragraph1 {
  margin-bottom: 20px;
  color: #364243;
  font-family: 'TTCommons';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 40px;
}

.slider-company .item-paragraph2 {
  font-size: 24px;
  line-height: 40px;
  color: #364243;
  font-family: 'TTCommons';
  font-style: normal;
  font-weight: normal;
}

.slider-company .item-wrapper {
  display: flex;
  height: 100%;
  align-items: stretch;
}
.slider-company .slick-slide .text-wrapper {
  display: none;
}
.slider-company .slick-slide.slick-active .text-wrapper {
  display: flex;
}

.slider-company .arrow-next,
.slider-company .arrow-prev {
  position: absolute;
  top: calc(100% - 94px);
  left: 211px;
  display: flex;
  //color: #d4b297;
  color: #0d1b1c;
  background: transparent;
  border-bottom: none;
  border-left: none;
  outline: none;
  cursor: pointer;
}
.slider-company .arrow-next {
  transform: translateX(calc(100% + 23px));
}
.slider-company .arrow-prev {
  z-index: 1;
}
//.slider-company .arrow-next:hover.arrow-next::after,
//.slider-company .arrow-prev:hover.arrow-prev::after
.slider-company .arrow-next::after,
.slider-company .arrow-prev::after {
  position: absolute;
  top: 50%;
  width: 62px;
  height: 62px;
  border: 1px solid #0d1b1c;
  border-radius: 100%;
  content: '';
}
//.slider-company .arrow-next:hover
.slider-company .arrow-next {
  z-index: 2;
}
//.slider-company .arrow-prev:hover
.slider-company .arrow-prev {
  z-index: 3;
}
//.slider-company .arrow-next:hover.arrow-next::after
.slider-company .arrow-next::after {
  left: 100%;
  transform: translate(-51.62%, -50%);
}
//.slider-company .arrow-prev:hover.arrow-prev::after
.slider-company .arrow-prev::after {
  right: 100%;
  transform: translate(51.62%, -50%);
}
.btn-arrow {
  transform: rotate(-90deg);
  transition: all 0.3s ease 0s;
}
.button-active {
  background: transparent !important;
}
.button-inactive {
  background: transparent !important;
}
.app-btn:hover .button-active,
.app-btn:focus .button-active,
.app-btn:active .button-active,
.app-btn:hover .button-inactive,
.app-btn:focus .button-inactive,
.app-btn:active .button-inactive {
  background: transparent;
}
.button-inactive .btn-arrow {
  transform: rotate(0);
  transition: all 0.3s ease 0s;
}
@media screen and (max-width: 1800px) and (min-width: 1681px) {
  .slider-company .item-title {
    font-size: 40px;
    line-height: 50px;
    color: #091513;
    margin-bottom: 20px;
    padding-top: 0;
  }

  .slider-company .text-wrapper {
    padding-top: 25px;
    padding-left: 40px;
  }
  .slider2 .text {
    padding-top: 20px;
    width: 460px;
  }
  .slider2 .title {
    font-size: 28px;
    line-height: 38px;
    font-weight: normal;
    padding-right: 0;
  }

  .slider-company .item-paragraph1 {
    font-size: 24px;
    line-height: 38px;
  }
  .slider-company .item-paragraph2 {
    font-size: 24px;
    line-height: 38px;
  }
  .slider-company .slick-slide {
    min-height: 650px;
  }
}
@media screen and (max-width: 1680px) {
  .slider-company .item-title {
    font-size: 36px;
    line-height: 46px;
    color: #091513;
    margin-bottom: 20px;
    padding-top: 0;
  }

  .slider-company .text-wrapper {
    padding-top: 20px;
    padding-left: 40px;
  }
  .slider2 .text {
    padding-top: 20px;
    width: 360px;
  }
  .slider2 .title {
    font-size: 26px;
    line-height: 36px;
    font-weight: normal;
    padding-right: 0;
  }

  .slider-company .item-paragraph1 {
    font-size: 24px;
    line-height: 36px;
  }
  .slider-company .item-paragraph2 {
    font-size: 24px;
    line-height: 36px;
  }
  .slider-company .slick-slide {
    min-height: 620px;
  }
}
