.section6-title {
  font-weight: 300;
  font-size: 60px;
  line-height: 70px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 36px;
  font-family: 'Reckless TRIAL';
  font-style: normal;
}
.section6-logo {
  text-align: center;
  height: 40px;
  display: flex;
  justify-content: center;
}
.section6-title-mob {
  font-weight: 300;
  font-size: 34px;
  line-height: 44px;
  text-align: center;
  color: #ffffff;
  font-family: 'Reckless TRIAL';
  font-style: normal;
}
.section6-logo.mob {
  margin-top: 36px;
}
@media screen and (max-width: 1800px) and (min-width: 1681px) {
  .section6-title {
    font-size: 50px;
    line-height: 60px;
  }
}
@media screen and (max-width: 1680px) {
  .section6-title {
    font-size: 44px;
    line-height: 54px;
  }
}
