.partners-slider2-wrapper .app-carousel {
  margin-right: -260px;
}

.partners-slider1 {
  overflow: hidden;
}

.partners-slider1 {
  padding-top: 54px;
  padding-bottom: 0;
  transition: all 0.3s;
}

.wrapper-img {
  display: flex;
  justify-content: center;
  width: 80%;
  height: 100%;
  max-height: 146px;
  margin: 0 auto;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.partners-img-active {
  display: none;
}
.partners-slider1 .slick-slide.slick-active.slick-current .partners-img-active {
  display: block;
  width: 100%;
}

.partners-slider1 .slick-active.slick-current .partners-item-wrapper1 {
  background: #e5dfd8;
  transition: background, margin-top, border-width 0.5s ease-in-out;
  margin-top: 50px;
  border-width: 13px;

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: none;
    content: '';
    transition: background 0.3s;
  }
}

.partners-img-active-filter {
  //filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(103deg) brightness(103%) contrast(104%);
}
.partners-slider1 .partners-num {
  font-weight: 500;
  font-size: 28px;
  line-height: 38px;
  text-align: center;
  color: rgba(227, 210, 195, 0.5);
  margin-top: 10px;
}

.partners-slider1 .slick-active.slick-current .partners-num {
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  color: #112c2b;
  font-family: 'TTCommons';
  font-style: normal;
}

.partners-slider1 .slick-slide.slick-active .partners-img {
  display: block;
}

.partners-slider1 .slick-slide.slick-active.slick-current .partners-img {
  display: none;
}

.partners-item-wrapper1 {
  position: relative;
  width: 271px !important;
  height: 250px;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 93px;
  background: #e5dfd8;
  transition: margin-top 0.5s ease-in-out;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  border-top: 0 solid #D4B297;
  cursor: pointer;

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(17, 45, 43, 0.5);
    content: '';
  }
}

.partners-slider1 .slick-active.slick-current + .slick-active + .slick-active .partners-item-wrapper1,
.partners-slider1 .slick-slide.partners-item-wrapper1 {
  margin-top: 0;
  //background: rgba(42, 65, 57, 0.5);
}

.partners-slider1 .slick-track {
  height: 380px;
}

.partners-slider1
  .slick-active.slick-current
  + .slick-active
  + .slick-active
  + .slick-active
  + .slick-slide
  .partners-item-wrapper1 {
  //background: rgba(42, 65, 57, 0.5);
  margin-top: 52px;
}

.partners-slider1 .arrow-next,
.partners-slider1 .arrow-prev {
  position: absolute;
  top: 48px;
  left: 145px;
  display: flex;
  color: #d4b297;
  background: transparent;
  border-bottom: none;
  border-left: none;
  outline: none;
  cursor: pointer;
}

.partners-slider1 .arrow-next {
  transform: translateX(calc(100% + 23px));
}

.partners-slider1 .arrow-prev {
  z-index: 1;
}
//.partners-slider1 .arrow-next:hover.arrow-next::after,
//.partners-slider1 .arrow-prev:hover.arrow-prev::after
.partners-slider1 .arrow-next::after,
.partners-slider1 .arrow-prev::after {
  position: absolute;
  top: 50%;
  width: 62px;
  height: 62px;
  border: 1px solid #d4b297;
  border-radius: 100%;
  content: '';
}
//.partners-slider1 .arrow-next:hover
.partners-slider1 .arrow-next {
  z-index: 2;
}
//.partners-slider1 .arrow-prev:hover
.partners-slider1 .arrow-prev {
  z-index: 3;
}
//.partners-slider1 .arrow-next:hover.arrow-next::after
.partners-slider1 .arrow-next::after {
  left: 100%;
  transform: translate(-51.62%, -50%);
}
//.partners-slider1 .arrow-prev:hover.arrow-prev::after
.partners-slider1 .arrow-prev::after {
  right: 100%;
  transform: translate(51.62%, -50%);
}

.partners-slider2 .partners-item-wrapper2 {
  display: flex !important;
  justify-content: space-between;
  background: #f3ede8;
  padding: 30px 82px 30px 62px;
  max-width: 1920px;
}

.partners-img-wrapper {
  height: 100%;
  flex-basis: 35%;
  align-self: flex-end;
  //max-width: 829px;
  //height: fit-content;
  padding-bottom: 29.5px;
  padding-right: 30px;
  background: linear-gradient(to right, transparent 0, transparent 0, transparent 100%, transparent 0) no-repeat,
    linear-gradient(to right, transparent 0, transparent 0, transparent calc(100% - 189px), #ba9578 0) no-repeat,
    linear-gradient(to bottom, transparent 0, transparent 0, transparent 100%, transparent 0) no-repeat,
    linear-gradient(to bottom, transparent 0, transparent 0, transparent calc(100% - 189px), #ba9578 0) no-repeat;
  background-position-x: 0, 0, 0, 100%;
  background-position-y: 0, 100%, 0, 0;
  background-size: 100% 1px, 100% 1px, 1px 100%, 1px 100%;
}

.partners-img-wrapper img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.partners-text-wrapper {
  padding-top: 47px;
  padding-right: 112px;
  flex-basis: 65%;
  .partners-logo {
    width: 100%;
    max-width: 35%;
    max-height: 154px;

    img {
      width: 100%;
      max-height: 154px;
      object-fit: contain;
    }
  }
}

.partners-paragraph1 {
  font-size: 24px;
  line-height: 32px;
  margin-top: 20px;
  color: #091513;
  margin-bottom: 20px;
  font-family: 'TTCommons';
  font-style: normal;
  font-weight: normal;
}
