.layout-wrapper {
  height: calc(100vh - 75px);
  margin-top: 75px;
}

.partners-section1-heading {
  color: #fff;
  font-weight: 300;
  font-size: 86px;
  line-height: 96px;
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
  font-family: 'Reckless TRIAL';
  font-style: normal;
}

.partners-section1-text {
  display: flex;
  //flex-direction: column;
  //align-self: flex-end;
  //height: fit-content;
  align-items: center;
  justify-content: center;
  padding: 56px;
  //padding: 43px 46px 76px 160px;
  color: #f9f4f0;
  font-weight: normal;
  font-size: 30px;
  line-height: 40px;
  background: #122222;
  font-family: 'TTCommons';
  font-style: normal;
}

.partners-section1-heading-mob {
  font-weight: 300;
  font-size: 38px;
  line-height: 48px;
  text-align: center;
  color: #ffffff;
  font-family: 'Reckless TRIAL';
  font-style: normal;
}

.partners-section1-text-wrapper-mob {
  background: #122222;
  padding: 48px 32px;
  margin-top: -1px;
}

.partners-section1-text-mob {
  font-size: 24px;
  line-height: 30px;
  color: #f9f4f0;
  margin-bottom: 0 !important;
  font-family: 'TTCommons';
  font-style: normal;
  font-weight: normal;
}
@media screen and (max-width: 1700px) and (min-width: 1681px) {
  .partners-section1-heading {
    font-size: 70px;
    line-height: 80px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .partners-section1-text {
    //padding: 35px 55px 30px 110px;
    font-size: 26px;
    line-height: 36px;
  }
}
//@media screen and (max-width: 1700px) and (min-width: 1601px) {
//
//  .partners-section1-heading {
//    font-size: 80px;
//    line-height: 90px;
//    padding-left: 40px;
//    padding-right: 40px;
//  }
//}
@media screen and (max-width: 1680px) {
  .partners-section1-heading {
    font-size: 60px;
    line-height: 70px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .partners-section1-text {
    //padding: 45px 26px 34px 80px;
    font-size: 24px;
    line-height: 34px;
  }
  .layout-wrapper {
    margin-top: 76px;
    height: calc(100vh - 76px);
  }
}

//
//@media screen and (max-width: 1600px) and (min-width: 1337px) {
//
//  .partners-section1-heading {
//    font-size: 80px;
//    line-height: 90px;
//    padding-left: 40px;
//    padding-right: 40px;
//  }
//
//  .partners-section1-text {
//    padding: 43px 46px 56px 150px;
//
//  }
//}
//
//@media screen and (max-width: 1336px) and (min-width: 1200px) {
//  .partners-section1-heading {
//    font-size: 70px;
//    line-height: 80px;
//    padding-left: 30px;
//    padding-right: 30px;
//  }
//
//  .partners-section1-text {
//    padding: 43px 46px 46px 130px;
//    font-size: 28px;
//    line-height: 38px;
//  }
//}
//
//@media screen and (max-width: 1199px) and (min-width: 901px) {
//  .partners-section1-heading {
//    font-size: 50px;
//    line-height: 60px;
//    padding-left: 20px;
//    padding-right: 20px;
//  }
//
//  .partners-section1-text {
//    padding: 43px 46px 46px 100px;
//    font-size: 28px;
//    line-height: 38px;
//  }
//}
//
//@media screen and (max-width: 900px) and (min-width: 577px) {
//  .layout-wrapper {
//    margin-top: 80px;
//  }
//
//  .partners-section1-heading {
//    font-size: 40px;
//    line-height: 50px;
//    padding-left: 15px;
//    padding-right: 15px;
//  }
//
//  .partners-section1-text {
//    padding: 33px 36px 36px 100px;
//    font-size: 28px;
//    line-height: 38px;
//  }
//}
