.home-section4-block {
  position: relative;
  padding-top: 155px;
  padding-bottom: 155px;
}

.home-section4-wrapper {
  min-height: 459px;
  background: #2a4139;
  padding-right: 17px;
  padding-left: 17px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 3px solid transparent;
}

.home-section4-wrapper-item {
  padding-top: 55px;
  width: 22.5%;
}
.home-section4-wrapper-card .home-section4-wrapper-item:nth-child(even) .home-section4-wrapper {
  background: #1a4544;
}
.home-section4-wrapper-card .home-section4-wrapper-item:nth-child(odd) {
  padding-top: 0;
}

.home-section4-title {
  font-size: 36px;
  line-height: 46px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 16px;
  font-family: 'Reckless TRIAL';
  font-style: normal;
  font-weight: normal;
}
.home-section4-num {
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  color: rgba(227, 210, 195, 0.5);
  margin-bottom: 21px;
  font-family: 'TTCommons';
  font-style: normal;
}

.arrow-btn-wrapper {
  opacity: 0;
  display: flex;
  justify-content: center;
}
.home-section4-wrapper:hover .arrow-btn-wrapper {
  color: #e3cca8;
  opacity: 1;
  transition: all 0.3s ease 0s;
}

//@media screen and (max-width: 1800px) and (min-width: 1601px){
@media screen and (max-width: 1800px) and (min-width: 1700px) {
  .home-section4-wrapper {
    min-height: 359px;
    background: #2a4139;
    padding-right: 15px;
    padding-left: 15px;
  }

  .home-section4-title {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 15px;
  }
  .home-section4-block {
    padding-top: 135px;
    padding-bottom: 135px;
  }
}
//@media screen and (max-width: 1600px) and (min-width: 1441px){
@media screen and (max-width: 1700px) and (min-width: 1601px) {
  .home-section4-wrapper {
    min-height: 300px;
    background: #2a4139;
    padding-right: 15px;
    padding-left: 15px;
  }

  .home-section4-title {
    font-size: 28px;
    line-height: 38px;
    margin-bottom: 15px;
  }
  .home-section4-block {
    padding-top: 115px;
    padding-bottom: 115px;
  }
}
//@media screen and (max-width: 1440px) {
@media screen and (max-width: 1600px) {
  .home-section4-wrapper {
    min-height: 330px;
    background: #2a4139;
    //padding-right: 10px;
    //padding-left: 10px;
    padding: 20px;
  }

  .home-section4-title {
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 15px;
  }
  .home-section4-block {
    padding-top: 95px;
    padding-bottom: 95px;
  }
}
