.section3-block {
  padding-top: 72.5px;
  padding-bottom: 44.5px;
  background: linear-gradient(to right, #e3d2c3 189px, transparent 0, transparent 100%, transparent 0) no-repeat,
    linear-gradient(to right, transparent 0, transparent 0, transparent calc(100% - 189px), #e3d2c3 0) no-repeat,
    linear-gradient(to bottom, #e3d2c3 189px, transparent 0, transparent 100%, transparent 0) no-repeat,
    linear-gradient(to bottom, transparent 0, transparent 0, transparent calc(100% - 189px), #e3d2c3 0) no-repeat;
  background-position-x: 0, 0, 0, 100%;
  background-position-y: 0, 100%, 0, 0;
  background-size: 100% 1px, 100% 1px, 1px 100%, 1px 100%;
  max-width: 1250px;
}

.section3-heading {
  margin-bottom: 40px;
  color: #fff;
  font-size: 60px;
  line-height: 70px;
  text-align: center;
  font-family: 'Reckless TRIAL';
  font-style: normal;
  font-weight: normal;
}

.section3-paragraph {
  color: #e3d2c3;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  font-family: 'TTCommons';
  font-style: normal;
  font-weight: normal;
}
.section3-heading-mob {
  font-size: 34px;
  line-height: 44px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 32px;
  font-family: 'Reckless TRIAL';
  font-style: normal;
  font-weight: normal;
}
.section3-paragraph-mob {
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #e3d2c3;
  font-family: 'TTCommons';
  font-style: normal;
  font-weight: normal;
}
.section3-block-mob {
  padding: 30px 20px 38px;
  background: linear-gradient(to right, #e3d2c3 100px, transparent 0, transparent 100%, transparent 0) no-repeat,
    linear-gradient(to right, transparent 0, transparent 0, transparent calc(100% - 100px), #e3d2c3 0) no-repeat,
    linear-gradient(to bottom, #e3d2c3 100px, transparent 0, transparent 100%, transparent 0) no-repeat,
    linear-gradient(to bottom, transparent 0, transparent 0, transparent calc(100% - 100px), #e3d2c3 0) no-repeat;
  background-position-x: 0, 0, 0, 100%;
  background-position-y: 0, 100%, 0, 0;
  background-size: 100% 1px, 100% 1px, 1px 100%, 1px 100%;
}
@media screen and (max-width: 1700px) and (min-width: 1601px) {
  .section3-heading {
    margin-bottom: 30px;
    font-size: 50px;
    line-height: 60px;
  }
  .section3-paragraph {
    font-size: 28px;
    line-height: 38px;
  }
}
@media screen and (max-width: 1600px) {
  .section3-heading {
    margin-bottom: 28px;
    font-size: 44px;
    line-height: 54px;
  }
  .section3-paragraph {
    font-size: 24px;
    line-height: 34px;
  }
}
