.section5-block-wrapper {
  padding: 85px 120px 83.81px 120px;
  align-items: center;
}
.section5 {
  height: 50%;
  padding-right: 30px;
  padding-left: 30px;
}

.section5.block {
  margin-bottom: 73px;
  padding-bottom: 30px;
  background: linear-gradient(to right, transparent 0, transparent 0, transparent 100%, transparent 0) no-repeat,
    linear-gradient(to right, transparent 0, transparent 0, transparent calc(100% - 189px), #e3d2c3 0) no-repeat,
    linear-gradient(to bottom, transparent 0, transparent 0, transparent 100%, transparent 0) no-repeat,
    linear-gradient(to bottom, transparent 0, transparent 0, transparent calc(100% - 189px), #e3d2c3 0) no-repeat;
  background-position-x: 0, 0, 0, 100%;
  background-position-y: 0, 100%, 0, 0;
  background-size: 100% 1px, 100% 1px, 1px 100%, 1px 100%;
  max-width: 1650px;
}
.section5.block2 {
  padding-top: 30px;
  background: linear-gradient(to right, #e3d2c3 189px, transparent 0, transparent 100%, transparent 0) no-repeat,
    linear-gradient(to right, transparent 0, transparent 0, transparent 100%, transparent 0) no-repeat,
    linear-gradient(to bottom, #e3d2c3 189px, transparent 0, transparent 100%, transparent 0) no-repeat,
    linear-gradient(to bottom, transparent 0, transparent 0, transparent 100%, transparent 0) no-repeat;
  background-position-x: 0, 0, 0, 100%;
  background-position-y: 0, 100%, 0, 0;
  background-size: 100% 1px, 100% 0, 1px 100%, 0 100%;
  max-width: 1650px;
}
.section5-text,
.section5-text2 {
  align-self: center;
}
.section5-text {
  padding-right: 130px;
}
.section5-heading {
  color: #fff;
  font-size: 60px;
  line-height: 70px;
  font-family: 'Reckless TRIAL';
  font-style: normal;
  font-weight: normal;
}
.section5-paragraph,
.section5-paragraph2 {
  padding-top: 40px;
  color: #e3d2c3;
  font-size: 24px;
  line-height: 35px;
  font-family: 'TTCommons';
  font-style: normal;
  font-weight: normal;
}

.section5-paragraph2 {
  padding-right: 70px;
}
.section5-img1 {
  display: flex;
  justify-content: flex-end;
}
.section5-img2 {
  padding-right: 121px;
}
.section5-heading-mob {
  font-family: 'Reckless TRIAL';
  font-size: 28px;
  line-height: 38px;
  text-align: center;
  color: #ffffff;
}
.section5-text-mob {
  margin-top: 25px;
}
.section5-paragraph-mob {
  font-family: 'TTCommons';
  font-size: 20px;
  line-height: 28px;
  color: #e3d2c3;
  margin-top: 29px;
}
@media screen and (max-width: 1800px) and (min-width: 1671px) {
  .section5-block-wrapper {
    padding: 60px 100px;
  }

  .section5-text {
    padding-right: 110px;
  }

  .section5-paragraph2 {
    padding-right: 50px;
    padding-top: 30px;
  }

  .section5-heading {
    font-size: 56px;
    line-height: 66px;
  }
}
@media screen and (max-width: 1670px) and (min-width: 1200px) {
  .section5-block-wrapper {
    padding: 40px 60px;
  }

  .section5-text {
    padding-right: 60px;
  }

  .section5-paragraph2 {
    padding-right: 10px;
    padding-top: 20px;
  }

  .section5-heading {
    font-size: 45px;
    line-height: 55px;
  }
  .section5-paragraph,
  .section5-paragraph2 {
    padding-top: 30px;
    font-size: 24px;
    line-height: 30px;
  }
}
@media screen and (max-width: 1199px) {
  .section5-img2 {
    padding-right: 0;
  }
  .section5-heading {
    font-size: 40px;
    line-height: 50px;
  }
  .section5-paragraph2 {
    padding-right: 0;
    padding-top: 30px;
  }
  .section5-text {
    padding-right: 0;
    padding-bottom: 30px;
  }
  .section5-paragraph2 {
    padding-right: 0;
  }
  .section5-paragraph,
  .section5-paragraph2 {
    font-size: 24px;
    line-height: 30px;
  }
}
