.overlay {
  position: absolute;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  z-index: 4;
  padding-top: 8%;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
  margin-top: 75px;
  height: calc(100% - 75px);
}

.video-bg {
  position: relative;
  top: 0;
  overflow: hidden;
  z-index: 0;
  height: 100%;
}

.video-bg video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}

.section1-heading {
  color: #fff;
  font-weight: 300;
  font-size: 70px;
  font-family: 'Reckless TRIAL';
  font-style: normal;
  line-height: 80px;
  text-align: center;
  max-width: 1202px;
}

.section1-paragraph {
  color: #e3d2c3;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  font-family: 'TTCommons';
  font-style: normal;
  max-width: 654px;
}

.section1-text {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  height: fit-content;
  padding: 56px 46px 13px 160px;
  color: #0d1b1c;
  font-weight: normal;
  font-size: 30px;
  line-height: 40px;
  background: #e3d7cd;
  font-family: 'TTCommons';
  max-width: 1274px;
  width: 66.35%;
}

.btn-wrapper {
  align-self: flex-end;
  margin-right: 51px;
  z-index: 20;
}

.btn-active {
  color: #98877b;
  z-index: 12;
}

.btn-active:hover {
  color: #30172b;
}

.section1-heading-mob {
  font-weight: 300;
  font-size: 38px;
  line-height: 48px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 32px;
  font-family: 'Reckless TRIAL';
  font-style: normal;
  align-self: flex-end;
}

.section1-paragraph-mob {
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #e3d2c3;
  font-family: 'TTCommons';
  font-style: normal;
  align-self: flex-start;
}

.section1-text-wrapper {
  background: #e3d7cd;
  padding: 48px 32px 33px 32px;
}

.section1-text-mob {
  font-size: 24px;
  line-height: 30px;
  color: #0d1b1c;
  font-family: 'TTCommons';
  font-style: normal;
}

.btn-wrapper-mob {
  align-self: flex-end;
  margin-right: 51px;
  width: 248.77px;
  height: 49px;
}

.btn-active-mob {
  color: #98877b;
  transition: all 0.3s ease 0s;
}

.btn-active-mob:hover {
  color: #30172b;
  transition: all 0.3s ease 0s;
}

.overlay-mob {
  position: absolute;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
  margin-top: 80px;
  height: calc(100% - 80px);
}

.video-bg-mob {
  position: relative;
  top: 0;
  overflow: hidden;
  z-index: 0;
  height: 100%;
  width: 100%;
}

.video-bg-mob video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}

@media screen and (max-width: 1700px) and (min-width: 1681px) {
  .section1-text {
    font-size: 28px;
    line-height: 38px;
  }
  .section1-heading {
    font-size: 60px;
    line-height: 70px;
    max-width: 1000px;
  }
  .btn-active {
    width: 270px;
    height: 58px;
    margin-top: -10px;
  }
}

@media screen and (max-width: 1680px) {
  .section1-text {
    padding: 48px 30px 10px 90px;
    font-size: 24px;
    line-height: 30px;
    width: 50%;
  }
  .btn-active {
    width: 180px;
    height: 36px;
  }
  .overlay {
    margin-top: 76px;
    height: calc(100% - 76px);
  }
}
