.home-section2-wrapper {
  padding-top: 155px;
  padding-bottom: 216px;
}
.section2-heading {
  padding-top: 126px;
  padding-left: 46px;
  color: #fff;
  font-size: 70px;
  line-height: 80px;
  text-align: start;
  font-family: 'Reckless TRIAL';
  font-weight: normal;
  font-style: normal;
}
.section2-text {
  position: absolute;
  right: 0;
  padding: 106px 110px 104px 80px;
  color: #0d1b1c;
  font-size: 24px;
  line-height: 40px;
  background: #e3d7cd;
  transform: translateY(-50%);
  font-family: 'TTCommons';
  font-weight: normal;
  font-style: normal;
  top: calc(100% - 216px);
}
.slider2-section2-item-wrapper {
  color: #0d1b1c;
  font-size: 24px;
  line-height: 40px;
  font-family: 'TTCommons';
  font-weight: normal;
  font-style: normal;
}
.slider2-section2-item-wrapper p {
  margin-bottom: 0;
}
.section2-text span {
  //font-weight: 500;
  font-size: 24px;
  line-height: 40px;
  font-style: italic;
  font-family: 'TTCommons';
  font-weight: bold;
}
.section2-heading-mob {
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 32px;
  font-family: 'Reckless TRIAL';
  font-weight: normal;
  font-style: normal;
}
.section2-text-mob {
  background: #e3d7cd;
  padding: 38px 32px 100px 32px;
  font-size: 24px;
  line-height: 30px;
  color: #0d1b1c;
  text-align: center;
  font-family: 'TTCommons';
  font-weight: normal;
  font-style: normal;
  min-height: 227px;
//  max-height: 258px;
 // max-height: 315px;
}
.section2-text-mob span {
  font-weight: bold;
  font-style: italic;
  font-family: 'TTCommons';
}

.section2-slider-text-mob {
  font-size: 24px;
  line-height: 30px;
  color: #0d1b1c;
  text-align: center;
  font-family: 'TTCommons';
  font-weight: normal;
  font-style: normal;
}
.section2-slider-text-mob p {
  margin-bottom: 0;
}
@media screen and (max-width: 1600px) {
  .home-section2-wrapper {
    padding-top: 100px;
    padding-bottom: 116px;
  }
  .section2-text {
    padding: 50px 50px 50px 50px;
    font-size: 22px;
    line-height: 32px;
    top: calc(100% - 116px);
  }
  .slider2-section2-item-wrapper {
    font-size: 24px;
    line-height: 32px;
  }
  .section2-text p {
    margin-bottom: 0;
  }
  .section2-heading {
    padding-left: 0;
  }
}
