.map-heading-mob {
  font-family: 'Reckless TRIAL';
  font-size: 34px;
  line-height: 44px;
  text-align: center;
  color: #ffffff;
  padding-bottom: 52px;
}

.map-heading {
  font-size: 34px;
  line-height: 1.5;
  text-align: center;
  color: #ffffff;
  margin-bottom: 32px;
  padding-top: 62px;
  font-family: 'Reckless TRIAL';
  font-style: normal;
  font-weight: normal;
  @media (min-width: 768px) {
    margin-bottom: 54px;
    padding-top: 89px;
    font-size: 45px;
  }
  @media (min-width: 1441px) {
    font-size: 60px;
  }
}

.map {
  background-color: #122222;
  min-height: 118vw;
  position: relative;

  @media (min-width: 375px) {
    min-height: 112vw;
  }

  @media (min-width: 576px) {
    min-height: 85vw;
  }

  @media (min-width: 768px) {
    min-height: 931px;
  }
}

.map .map__wrap img {
  width: 100%;
}

.map .city:hover,
.map .city:active {
  z-index: 5;
}

.map .map__wrap {
  position: absolute;
  top: 180px;
  left: 0;
  right: 0;
  max-width: 1443px;
  width: 100%;
  margin: 0 auto;

  @media (min-width: 768px) {
    top: 330px;
  }

  @media (min-width: 1200px) {
    top: 213px;
  }
}

.map .city {
  width: 7px;
  height: 7px;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  border: none;
  padding: 0;

  @media (min-width: 576px) {
    width: 12px;
    height: 12px;
  }

  @media (min-width: 768px) {
    width: 19px;
    height: 19px;
  }
}

.map .city.top .triangle {
  top: auto;
  bottom: 22px;
  transform: translateX(-2px);
  right: 0;
}

.map .city:hover .city-info,
.map .city:hover .triangle,
.map .city:active .city-info,
.map .city:active .triangle {
  opacity: 1;
  display: flex;
}

.map .city .triangle {
  opacity: 0;
  animation: fadeIn 0.3s ease 1 forwards;
  display: none;
  width: 17px;
  height: 12px;
  position: absolute;
  transition: all 0.3s ease;
  overflow: hidden;
  z-index: 2;
}

.map .city.top .triangle:after {
  content: '';
  position: absolute;
  width: 19px;
  height: 12px;
  background: #e5dfd8;
  transform: rotate(45deg);
  bottom: 10px;
  left: -3px;
}

.map .city .triangle:after {
  content: '';
  position: absolute;
  width: 22px;
  height: 15px;
  background: #fff;
  transform: rotate(45deg);
  bottom: -9px;
  left: 3px;
  box-shadow: 0 0 13px -3px rgb(0 0 0 / 30%);
}

.map .city.top .city-info {
  bottom: 34px;
  top: auto;
}

.map .city .city-info {
  animation: fadeIn 0.3s ease 1 forwards;
  background-color: #e5dfd8;
  transition: all 0.3s ease;
  border-radius: 3px;
  right: 0;
  transform: translateX(14px);
  position: absolute;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  box-sizing: border-box;

  @media (min-width: 768px) {
    padding: 16px 20px;
  }
}

.map .city .city-info .flag {
  width: 24px;
  margin-bottom: 2px;
  @media (min-width: 768px) {
    width: 36px;
    margin-bottom: 10px;
  }
}

.map .city .city-info {
  text-align: center;
}

.map .city .city-info .flag img {
  width: auto;
  max-width: 100%;
  margin: 0 auto;
}

.map .city .city-info img {
  display: block;
}

.map .city .city-info .city-name {
  color: #122222;
  font-family: 'Calibri-Light', Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
  font-weight: 500;
  font-size: 10px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.16px;
  white-space: nowrap;

  @media (min-width: 768px) {
    font-size: 18px;
  }
}

.map .city.top .point {
  bottom: 0;
}

.map .city .point {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  right: 0;
  width: 8px;
  height: 8px;
  box-shadow: 1px 2px 12px rgb(0 0 0);
  border-radius: 50%;
  background-color: #ba9f87;
  box-sizing: content-box;
  transition: all 0.3s ease 0s;
  @media (min-width: 768px) {
    width: 14px;
    height: 14px;
  }
}

.map .city:active .point,
.map .city:hover .point {
  border: 1.5px solid #ba9f87;
  background-color: transparent;
  transition: all 0.3s ease 0s;

  @media (min-width: 768px) {
    border: 4px solid #ba9f87;
  }
}

.map .city .triangle:after {
  content: '';
  position: absolute;
  width: 22px;
  height: 15px;
  background: #fff;
  transform: rotate(45deg);
  bottom: -9px;
  left: 3px;
  box-shadow: 0 0 13px -3px rgb(0 0 0 / 30%);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


