.layout-wrapper {
  height: calc(100vh - 75px);
  margin-top: 75px;
}

.operations-section1-heading {
  color: #fff;
  font-weight: 300;
  font-size: 86px;
  line-height: 96px;
  text-align: center;
  font-family: 'Reckless TRIAL';
  font-style: normal;
}

.operations-section1-text {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 56px;
  color: #f9f4f0;
  font-weight: normal;
  font-size: 30px;
  line-height: 40px;
  background: #122222;
  font-family: 'TTCommons';
  font-style: normal;
}
.operations-section1-heading-mob {
  font-weight: 300;
  font-size: 38px;
  line-height: 48px;
  text-align: center;
  color: #ffffff;
  font-family: 'Reckless TRIAL';
  font-style: normal;
}
.operations-section1-text-wrapper-mob {
  background: #122222;
  padding: 48px 32px;
  margin-top: -1px;
}
.operations-section1-text-mob {
  font-size: 24px;
  line-height: 30px;
  color: #f9f4f0;
  margin-bottom: 0 !important;
  font-family: 'TTCommons';
  font-style: normal;
}
@media screen and (max-width: 1700px) and (min-width: 1681px) {
  .operations-section1-heading {
    font-size: 70px;
    line-height: 80px;
  }

  .operations-section1-text {
     font-size: 28px;
    line-height: 38px;
  }
}
@media screen and (max-width: 1680px) {
  .operations-section1-heading {
    font-size: 60px;
    line-height: 70px;
  }

  .operations-section1-text {
    font-size: 26px;
    line-height: 36px;
  }
  .layout-wrapper {
    margin-top: 76px;
    height: calc(100vh - 76px);
  }
}
